<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 vertical-center">
      <div class="thumbnail">
        <img src="{{electronic.imagePath}}" alt="{{electronic.title}}">
        <div class="caption">
          <h2>{{electronic.title}}</h2>
          <p class="price">{{electronic.price}} VND</p>
          <p>{{electronic.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>