<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 vertical-center">
      <div class="thumbnail">
        <img src="{{gaming.imagePath}}" alt="{{gaming.title}}">
        <div class="caption">
          <h2>{{gaming.title}}</h2>
          <p class="price">{{gaming.price}} VND</p>
          <p>{{gaming.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>