<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 vertical-center">
      <div class="thumbnail">
        <img src="{{mobile.imagePath}}" alt="{{mobile.title}}">
        <div class="caption">
          <h2>{{mobile.title}}</h2>
          <p class="price">{{mobile.price}} VND</p>
          <p>{{mobile.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>